<h1>Leagues</h1>
<%= link_to 'home', root_path %>
<%= @leagues.each do |league| %>
  <div>
    <%= link_to league['league']['name'], league_path(id: league['league']['id'], name: league['league']['name']) %>
  </div>
<% end %>
